:root {
  --body-theme: #e4f7ff;
  --water-theme: rgb(153, 240, 255);
}

html {
  scroll-behavior: smooth;
  transition: 1s;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--body-theme);
  overflow-x: hidden;
  transition: 0.5s ease;
}

nav {
  background-image: linear-gradient(
    to right,
    #90caff,
    #8ac1f9,
    #85b8f2,
    #80b0ec,
    #7ca7e5,
    #76a5e4,
    #6fa2e3,
    #68a0e2,
    #5aa4e6,
    #49a9ea,
    #33adec,
    #00b1ee
  );
  position: fixed;
  width: 100vw;
  height: 4rem;
  z-index: 2;

  display: block;
  align-items: center;
  overflow: hidden;
  transition: all 0.5s ease;
  -webkit-box-shadow: 5px 14px 51px 19px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 5px 14px 51px 19px rgba(0, 0, 0, 0.32);
  box-shadow: 5px 14px 51px 19px rgba(0, 0, 0, 0.32);
}

nav h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-top: 10px;
  text-indent: 20px;
}

.navbtn {
  position: fixed;
  right: 0;
  top: 0;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navitems {
  display: flex;
  flex-direction: column;
}

.navitems a {
  width: 100vw;
  text-decoration: none;
  color: white;
  font-family: "Arimo", sans-serif;
  font-size: 1.3rem;
  margin-top: 1.2rem;
  text-indent: 20px;
  padding: 5px;
  transition: all ease-in-out 0.5s;
}

.navitems a:hover {
  background-color: rgba(255, 255, 255, 0.411);
  transition: 0.5s;
}

#home {
  width: 100vw;
  height: 100vh;
  margin-bottom: 0;
  padding-bottom: 0;
  background: url(home-color.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  transition: 0.5s;
}

.custom-shape-divider-bottom-1676971232 {
  position: relative;
  top: -120px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transition: 0.5s;
}

.custom-shape-divider-bottom-1676971232 svg {
  position: relative;
  display: block;
  width: calc(135% + 1.3px);
  height: 200px;
}

.custom-shape-divider-bottom-1676971232 .shape-fill {
  fill: var(--body-theme);
}

#about {
  width: 100vw;
  background-color: var(--body-theme);
}

.greetings {
  margin-top: 0;
  text-align: center;
}

.greetings h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
}

.greetings p {
  font-family: "Nunito", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
}

.intro {
  width: 70vw;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  text-align: center;
}

#services {
  width: 100vw;
  background-color: var(--body-theme);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  padding-top: 10rem;
}

.box {
  width: 20rem;
  height: 30rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  -webkit-box-shadow: 7px 18px 43px 10px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 7px 18px 43px 10px rgba(0, 0, 0, 0.29);
  box-shadow: 7px 18px 43px 10px rgba(0, 0, 0, 0.29);
  transition: 0.5s;

  background: rgb(94, 205, 225);
  background: linear-gradient(
    187deg,
    rgb(208, 246, 253) 0%,
    rgb(128, 219, 255) 35%
  );
}

/* .box:hover{
    scale:1.1;
    transition: .5s;
} */

.box::after {
  transition: 1s;
}

header {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
}

.box p {
  width: 80%;
  font-family: "Nunito", sans-serif;
  font-size: 1.3rem;
}

#contact {
  width: 100vw;
}

.custom-shape-divider-bottom-1677034315 {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1677034315 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 156px;
}

.custom-shape-divider-bottom-1677034315 .shape-fill {
  fill: var(--water-theme);
}

.custom-shape-divider-top-1677034444 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1677034444 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 156px;
}

.custom-shape-divider-top-1677034444 .shape-fill {
  fill: var(--water-theme);
}

#contact {
  margin-bottom: 20rem;
}

.contactbox {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-color: var(--water-theme);
}

.container {
  width: 70%;
  margin: 0 auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: start;

  padding-bottom: 2rem;
}

.contactbox p {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
}

.location {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.email {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.contactinfoboxtwo {
  width: 30rem;
  background-color: rgb(0, 217, 255);
  height: auto;
  padding-top: 10px;
  border-radius: 40px;
}

form {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.form-group1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px auto;
}
.form-group2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: blue;
}

input {
  width: 40%;
  height: 50px;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: large;
  outline: none;
  border: none;
  border-radius: 20px;
}

textarea {
  width: 100%;
  outline: none;
  font-family: "Arimo", sans-serif;
  font-size: large;
  border: none;
  border-radius: 20px;
  text-indent: 10px;
}

button {
  width: 9rem;
  height: 3rem;
  margin: 10px auto;
  border-radius: 20px;
  border: none;
  font-family: "Arimo", sans-serif;
  font-size: large;
}

@media only screen and (max-width: 700px) {
  #home {
    background: url(home-mobile.png) no-repeat center center fixed;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    transition: 0.5s;
  }

  .greetings h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
  }

  .greetings p {
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
  }

  .intro {
    width: 70vw;
    margin: 0 auto;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    text-align: center;
  }

  .container {
    width: 90%;
  }

  .contactinfoboxtwo {
    width: 100%;
  }
}

@media only screen and (max-width: 1290px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer {
  width: 100vw;
  margin-top: -300px;
  background-color: var(--body-theme);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

footer img {
  width: 100%;
  object-fit: cover;
  z-index: 1;
  position: relative;
  bottom: -100px;
  overflow: hidden;
}

.footerbox {
  position: relative;
  top: -100px;
  z-index: 2;
  text-align: center;
}

.footerbox P {
  font-family: "Nunito", sans-serif;
}

.whatsapp-ico {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 3px;
  background-color: #4dc247;
  border-radius: 50%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  /* box-shadow: 2px 2px 11px rgba(0,0,0,0.7); */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}

.whatsapp-ico:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.7);
}

/* ::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 217, 255);
  border-radius: 50px;
} */
